{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "only-multiline"
    }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "eqeqeq": ["error", "always"],
    "complexity": ["error", 12],
    "max-len": ["error", { "code": 80, "comments": 65, "ignoreUrls": true }],
    "max-depth": ["error", 4],
    "max-lines-per-function": 0,
    "no-unreachable": 2,
    "consistent-return": 0,
    "no-return-await": 2,
    "no-return-assign": 2,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1, "maxEOF": 1 }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "indent": ["error", 2],
    "react/jsx-filename-extension": [ 1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": 0,
    "array-callback-return": 0,
    "react/forbid-prop-types": 0,
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "react/jsx-props-no-spreading": 0
  }
}
