.customHeader {
  width: 100vw;
  height: 5em;
  background-color: #2699FB;
  display: flex;
  flex-direction: row;

  &__navbar {
    width: 999px;
    color: #ffffff;
    margin: auto;
    display: flex;
    align-items: center;

    span {
      font-weight: bolder;
      font-size: 24px;
      line-height: 24px;
    }

    .buttonColor {
      background-color: #ffffff !important;
      color: #2699FB !important;
      &:hover {
        color: #000000 !important;
        background-color: transparent !important;
        box-shadow: 0 0 0 2px #fff inset!important;
      }
    }
  }
}

.logo  {
  width: 48px;
  height: 48px;
  padding: 4px;
  margin-left: 2em;
}
.width {
  width: 300px;
}

.containerBackground {
  background-color: #ffffff;
  width: 50vw !important;
  min-height: 50vh !important;
  height: max-content;
}

.side {
  background-color: #2699FB;
  height: 50vh;
}
//#2699FB;

.zeroPadding {
  padding: 0 !important;
  height: 100% !important;
}

.addPadding {
  padding: 2em 2em 2em 0;
}