.customHeader {
  width: 100vw;
  height: 5em;
  background-color: #2699FB;
  display: flex;
  flex-direction: row;

  &__navbar {
    width: 999px;
    color: #ffffff;
    margin: auto;
    display: flex;
    align-items: center;

    span {
      font-weight: bolder;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.logo  {
  width: 48px;
  height: 48px;
  padding: 4px;
  margin-left: 2em;
}
