.width {
  width: 300px;
}

.containerBackground {
  background-color: #ffffff;
  width: 50vw !important;
  min-height: 50vh !important;
  height: max-content;
}

.side {
  background-color: #2699FB;
  height: 50vh;
}

.zeroPadding {
  padding: 0 !important;
  height: 100% !important;
}
.zero {
  width: 50% !important;
}
.verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
}

.addPadding {
  padding: 2em 2em 2em 0;
}